<ion-view title="清单">
	<ion-content>
		
		<div class="listtop">
		    <img src="img/sky.jpg">
			<p> 你的清单空空如也</p>
			<button class="button button-assertive">购买</button>
		</div>
		<div>
			<p>猜你喜欢</p>
			<div class="row listdownrow">
				<div class="col-25">
				  	<img src="img/good4.jpg">
				  	推荐1
				</div>
				<div class="col-25">
					<img src="img/good4.jpg">
					推荐2
				</div>
				<div class="col-25">
					<img src="img/good4.jpg">
					推荐3
				</div>
				<div class="col-25">
					<img src="img/good4.jpg">
					<p>推荐4</p>
				</div>
			</div>
		</div>
	</ion-content>

</ion-view>