<ion-view title = "晒单">
	
	<ion-content>
		
		<div style="height:290px; border-bottom:1px solid #000">
           <div class="show-head">
             <img src="img/ionic.png">
             <p>WANGDACHUI</p>
           </div>
           <div class="show-share">
           	  <p>沉寂多年的薛之谦凭借“段子手”的身份一时间成为娱乐圈“网红”，搞怪诙谐的风格圈粉无数，这大到快要能养鲸鱼的清奇脑洞也是只能让人说一个大写加粗的“服”!除了微博上无数的评论和转发，各种综艺节目里薛之谦也是狂刷存在感，神经病本质暴露无遗，简直就是一个大写的精分。</p>
           	  <img src="img/good4.jpg" style="height:80px;">
           	  <img src="img/good4.jpg" style="height:80px;">
           	  <p>2016-7-15 17:00</p>
           </div>
          


		</div>
	</ion-content>
</ion-view>