<ion-view view-title="最新揭晓">
  <ion-content>
    <div class="row">
      <div class="zuixin-page col-50">
        	<img src="img/good4.jpg">
            <div class="zuixin-content">
        	<h4>巧克力派</h4>
            <p>期号：123456</p>
        	<timer class="timer1" countdown="60*10" interval="1000">{{hhours}}:{{mminutes}}:{{sseconds}}
        	</timer>
        	</div>
      </div>

      <div class="zuixin-page col-50">
            <img src="img/good4.jpg">
            <div class="zuixin-content">
            <h4>巧克力派</h4>
            <p>期号：456789</p>
            <timer class="timer1" countdown="60*10" interval="1000">{{hhours}}:{{mminutes}}:{{sseconds}}
            </timer>
            </div>
      </div>

   



  </ion-content>
</ion-view>
