<ion-view view-title="个人中心">
  
   <ion-nav-bar class="navbtns">
        <ion-nav-buttons side="right">
            <button class="button button-icon">
                <i class="ion ion-ios-gear-outline" style="font-size:26px;padding-top:3px"></i>
            </button>
        </ion-nav-buttons>
       </ion-nav-bar>

    <ion-content>
     
       <div class="account-profile">
        <img src="img/adam.jpg">
        <button class="button button-energized" >
       登陆
   </button>
              	
       </div>

      
      
       	<a class="item item-icon-left">
           <i class="icon" style=""></i>
           我的夺宝纪录
        </a>

        <a class="item item-icon-left">
           <i class="icon" style=""></i>
           我的收货地址
        </a>

        <a class="item item-icon-left">
           <i class="icon" style=""></i>
           我的推荐
        </a>

		<a class="item item-icon-left">
			<i class="icon" style=""></i>
			我的晒单          
	    </a>

        <div class="item item-divider"></div>

	    <a class="item item-icon-left">
			<i class="icon" style=""></i>
			消息中心         
	    </a>

	    <a class="item item-icon-left">
			<i class="icon" style=""></i>
			我的红包          
	    </a>








  </ion-content>
</ion-view>
