<div class="zuixin">

  <div class="row">
    <div class="col-50 good-block">
		<img src="img/car2.jpg">
		<p>abc跑车</p>
		<div class="row">
		<uib-progressbar class="col-90 zuixinbar" value="33" type="danger">33%</uib-progressbar>
		<i class="col-10 icon ion-ios-cart" style="font-size:15px;color:red"></i>
		</div>

	</div>

	 <div class="col-50 good-block">
		<img src="img/car2.jpg">
		<p>abc跑车</p>
		<div class="row">
		<uib-progressbar class="col-90 zuixinbar" value="33" type="danger">33%</uib-progressbar>
		<i class="col-10 icon ion-ios-cart" style="font-size:15px;color:red"></i>
		</div>

	</div>
  </div>

</div>