<div class="willing">

  <div class="row">
    <div class="col-50 good-block">
		<img src="img/good3.png">
		<div class="willing-content">
	    	即将揭晓：<timer class="timer1" countdown="60*10" interval="1000">{{hhours}}:{{mminutes}}:{{sseconds}}
    	    </timer>
		</div>
	</div>
	<div class="col-50 good-block">
		<img src="img/good4.jpg">
		<div class="willing-content">
	    	即将揭晓：<timer class="timer1" countdown="60*10" interval="1000">{{hhours}}:{{mminutes}}:{{sseconds}}
    	    </timer>
		</div>

	</div>

	


  </div>

</div>